@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .fecha {
    border: rgb(184, 184, 184) 1px solid;
    border-radius: 0.2rem;
    padding: 0.1rem;
    justify-content: center;
    margin: 0 auto;
  }

  .opcion-familiar {
    display: flex;
    gap: 0.5rem;
    width: max-content;
    border: 0.1rem rgb(190, 190, 190) solid;
    border-radius: 0.2rem;
    padding: 0.25rem;
  }

  .opcion-familiar:hover {
    background-color: rgb(220, 218, 255);
    cursor: pointer;
  }

  .opciones-familiares {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 80%;
    margin: auto;
    justify-content: center;
  }

  @media only screen and (max-width: 500px) {
    .opciones-familiares {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 100%;
    }

    .opcion-familiar {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  /* .icono {
    margin: 0.5rem;
  } */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }
  th {
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  td,
  th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }

  @media only screen and (max-width: 760px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
      margin-bottom: 2rem;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #a1a1a1;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    .tabla-edad,
    .tabla-ingreso {
      width: 100%;
    }

    /*
      Label the data
      */
    td:nth-of-type(1):before {
      content: '';
    }
    td:nth-of-type(2):before {
      content: 'Parentesco';
    }
    td:nth-of-type(3):before {
      content: 'Nombre Completo';
    }
    td:nth-of-type(4):before {
      content: 'Edad';
    }
    td:nth-of-type(5):before {
      content: 'Ocupación';
    }
    td:nth-of-type(6):before {
      content: 'Ingreso Mensual';
    }
    td:nth-of-type(7):before {
      content: 'Celular';
    }
    td:nth-of-type(8):before {
      content: '';
    }
  }

  .punto__tutor {
    border: rgb(181, 181, 181) 0.02rem solid;
    padding: 0.1rem 0.4rem;
    font-size: 1rem;
  }
